# 02 기술통계

## 변동성 이해하기
+ 값들이 얼마나 서로 다른지 여부 파악

In [1]:
num1 <- c(7,6,3,3,1)
num2 <- c(3,4,4,5,4)
num3 <- c(4,4,4,4,4)


# 형식화된 문자열 형태로 출력 : sprintf
# sprintf(형식문자열, 변수들)
sprintf('%d %d %d', mean(num1), mean(num2), mean(num3))

[1] "4 4 4"

## 기술통계의 또 다른 관점 : 분산, 산포
+ 자료의 흩어지거나 밀집되는 정도를 나타내는 척도
+ 범위, 사분위수, 분산, 사분위수 등으로 표현

### 범위
+ 수집한 자료의 가장 큰 값과 작은 값의 차이
+ 수집한 자료가 어느정도 흩어져 있는지 살펴볼 수 있는 통계치
+ 계산하기 쉽다
+ 특이값에 영향을 많이 받는다
+ 범위가 동일해도 분산정도는 크게 다를 수 있다
+ 범위가 동일해도 분산정도는 크게 다를 수 있다
> $ r = h - l $<br>
> $ R = x_{(n)} - x_{(1)} $

In [2]:
# 조선조 왕들 수명의 범위를 조사
kings <- c(73,62,45,53,38,16,51,28,37,30,56,30,33,56,66,54,40,33,59,36,82,48,44,22,32,67,52)

range(kings)
range(kings)[2] - range(kings)[1]

[1] 16 82

[1] 66

In [3]:
# 수식으로 작성
max = max(kings)
min = min(kings)
max - min

[1] 66

In [4]:
# 대학원생들 나이 범위 조사
colls <- c(9,18,19,21,20,24,21,19,19,20,18,21,22,23,21,19,18,22,24,21,18,19)

range(colls)
range(colls)[2] - range(colls)[1]

[1]  9 24

[1] 15

In [5]:
# 수식으로 작성
max(colls) - min(colls)

[1] 15

## 분산
+ 평균을 중심으로 밀집되거나 퍼짐 정도를 나타내는 척도
+ 모분산 $ \sigma^2 $ : 모집단을 구성하는 모든 자료값과 모평균의 편차제곱에 대한 평균
+ 표본분산 $ s^2 $ : 표본을 구성하는 모든 자료값과 표본평균의 편차의 제곱합을 $ n-1 $로 나눈 수치
+ 편차
> $ (x_{i} - \bar {x}) $
+ 편차체곱
> $ (x_{i} - \bar {x})^2 $
+ 모분산
> ### $ \sum{(x_{i} - \bar {x})^2} \over {n} $
+ 표본분산
> ### $ \sum{(x_{i} - \bar {x})^2} \over {n - 1} $

In [6]:
nums <- c(5,8,5,4,6,7,8,8,3,6)

m <- mean(nums)
m                   # 평균

[1] 6

In [7]:
devi <- (nums - m)
devi                # 편차

sum(devi)           # 편차의 합

 [1] -1  2 -1 -2  0  1  2  2 -3  0

[1] 0

In [8]:
devi <- (nums - m)**2
devi                # 편차제곱

sum(devi)           # 편차제곱의 합 : 임의의 수

 [1] 1 4 1 4 0 1 4 4 9 0

[1] 28

In [9]:
sum(devi) / length(nums)   # 모분산

sum(devi) / (length(nums) - 1)   # 표본분산

[1] 2.8

[1] 3.111111

In [10]:
# 분산 : var
# R에서는 기본적으로 표본분산으로 계산해서 결과 출력
var(nums)

[1] 3.111111

In [11]:
# A부서와 B부서 사원들의 비상금 편차 파악
a <- c(30,24,40,28,26)
b <- c(35,20,60,15,20)

In [12]:
mean1 <- mean(a)
devi1 <- (a - mean1)**2
sum(devi1) / (length(a)) -1   # a분산

[1] 30.04

In [13]:
mean2 <- mean(b)
devi2 <- (b - mean2)**2
sum(devi2) / (length(b)) -1   # b분산

[1] 269

In [14]:
sprintf('%.1f %.1f', var(a), var(b))

[1] "38.8 337.5"

In [15]:
# 조선조 왕들 수명의 분산을 조사
var(kings)

[1] 261.5755

In [16]:
# 대학원생들 나이의 분산을 조사
var(colls)

[1] 9.298701

## 표준편차
+ 분산값에 제곱근을 취한 값
+ 분산은 편차를 제곱했기 때문에 결과값의 단위 역시 제곱이 됨
+ 분산의 단위를 원래 자료의 단위로 전환하기 위해 만든 값
+ 모표준편차 $ \sigma $
> ### $ \sqrt {\sum{(x_{i} - \bar {x})^2} \over {n}} $
+ 표본표준편차 $ s $
> ### $ \sqrt {\sum{(x_{i} - \bar {x})^2} \over {n-1}} $

In [17]:
# 조선조 왕들 수명의 표준편차 조사
sqrt(var(kings))

[1] 16.1733

In [18]:
# 표준편차 : sd
# R에서는 기본적으로 표본표준편차로 계산해서 결과 출력
sd(kings)

[1] 16.1733

In [19]:
# 대학원생들 나이의 표준편차 조사
sd(colls)

[1] 3.049377

In [20]:
# A부서와 B부서 사원들의 비상금 편차 파악
sprintf('%.1f %.1f', sd(a), sd(b))

[1] "6.2 18.4"

In [21]:
# 어떤 카푸치노 판매점들의 5일 동안 오후 4~5시 사이의
# 판매량 데이터를 보고 어느 지점이 판매를 잘하였는지 파악하시오
A <- c(20,40,50,60,80)
B <- c(20,45,50,55,80)

In [22]:
# 중심화 경향
sprintf('%.1f %.1f', mean(A), mean(B))

[1] "50.0 50.0"

In [23]:
# 분산화 경향
range(A)
range(B)

[1] 20 80

[1] 20 80

In [24]:
sprintf('%.1f %.1f', var(A), var(B))

[1] "500.0 462.5"

In [25]:
sprintf('%.1f %.1f', sd(A), sd(B))

[1] "22.4 21.5"

In [26]:
# 회계수습사원들의 월급이 3536,3173,3448,3121,3622라고 한다
# 사무수습사원들의 월급평균은 3550, 표준편차는 250이라 할 때
# 이 두 수습사원 그룹을 비교하시오

In [27]:
acc <- c(3536,3173,3448,3121,3622)
mean(acc)
sd(acc)

[1] 3380

[1] 222.179

## 사분위수
+ 데이터를 가장 작은수부터 가장 큰수까지 정렬하였을때 1/4, 2/4, 3/4 위치에 있는 수를 의미
+ 이 각각의 수를 1사분위수, **2사분위수**, 3사분위수라고 하는데, 2사분위수는 **중앙값**과 같음
    * $ Q_1 $ : 25% 지점
    * $ Q_2 $ : 50% 지점
    * $ Q_3 $ : 75% 지점
+ 때로 위치를 1/100단위로 나눈 경우도 있는데, 이때 백분위수를 사용함
+ 한편, 사분위수를 구하는 방법은 크게 **9가지**가 존재하는데 대상 데이터의 **유형**에 따라 적용방법이 다름
+ **사분위 범위(IQR)** 사이의 구간에 항상 전체 데이터의 **50%** 가 포함됨
    * 사분위 범위는 3사분위수에서 1사분위수 간의 범위를 의미
    > ###### $ IQR = Q_3 - Q_1 $

In [28]:
# 조선조 왕들 수명의 사분위수
# 사분위수 : quantile(객체, 사분위)
quantile(kings)

  0%  25%  50%  75% 100%
  16   33   45   56   82

In [29]:
# 하위 25%를 나누는 기준 계산 : 1사분위
quantile(kings, 0.25)

25%
 33

In [30]:
# 상위 25%를 나누는 기준 계산 : 3사분위
quantile(kings, 0.75)

75%
 56

In [31]:
# 사분위범위IQR 계산 : Q3 - Q1
# IQR(객체)
quantile(kings, 0.75) - quantile(kings, 0.25)
IQR(kings)

75%
 23

[1] 23

## 사원 데이터의 기술통계 2 (분산화 경향)

In [34]:
emp <- read.csv('csv/employees.csv')
mean(emp$SALARY)

[1] 6461.832

In [35]:
sd(emp$SALARY)

[1] 3909.58

In [36]:
range(emp$SALARY)

[1]  2100 24000

In [37]:
quantile(emp$SALARY)
IQR(emp$SALARY)

   0%   25%   50%   75%  100%
 2100  3100  6200  8900 24000

[1] 5800

## 타이타닉 생존자 기술통계 2 (분산화 경향)

In [42]:
titanic <- read.csv('csv/titanic.csv', stringsAsFactors=F)
str(titanic)

'data.frame':	1310 obs. of  11 variables:
 $ pclass  : int  1 1 1 1 1 1 1 1 1 1 ...
 $ survived: int  1 1 0 0 0 1 1 0 1 0 ...
 $ name    : chr  "Allen, Miss. Elisabeth Walton" "Allison, Master. Hudson Trevor" "Allison, Miss. Helen Loraine" "Allison, Mr. Hudson Joshua Creighton" ...
 $ sex     : chr  "female" "male" "female" "male" ...
 $ age     : num  29 0.917 2 30 25 ...
 $ sibsp   : int  0 1 1 1 1 0 1 0 2 0 ...
 $ parch   : int  0 2 2 2 2 0 0 0 0 0 ...
 $ ticket  : chr  "24160" "113781" "113781" "113781" ...
 $ fare    : num  211 152 152 152 152 ...
 $ cabin   : chr  "B5" "C22 C26" "C22 C26" "C22 C26" ...
 $ embarked: chr  "S" "S" "S" "S" ...

In [43]:
# 명목형 자료들이 많기 때문에 stringsAsFactors=F 사용 X
car <- read.csv('csv/accident2016.csv')
str(car)

'data.frame':	4119 obs. of  27 variables:
 $ 발생년               : int  2016 2016 2016 2016 2016 2016 2016 2016 2016 2016 ...
 $ 발생년월일시         : int  2016122320 2016122517 2016122519 2016122610 2016122819 2016111207 2016110919 2016111005 2016110711 2016110818 ...
 $ 발생분               : int  35 48 5 40 40 34 25 0 5 0 ...
 $ 주야                 : Factor w/ 2 levels "야간","주간": 1 2 1 2 1 2 1 1 2 1 ...
 $ 요일                 : Factor w/ 7 levels "금","목","수",..: 1 5 5 4 3 6 3 2 4 7 ...
 $ 사망자수             : int  1 1 1 1 1 1 1 1 1 1 ...
 $ 사상자수             : int  1 1 1 1 1 1 1 1 1 1 ...
 $ 중상자수             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ 경상자수             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ 부상신고자수         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ 발생지시도           : Factor w/ 17 levels "강원","경기",..: 2 9 17 4 3 3 2 12 16 13 ...
 $ 발생지시군구         : Factor w/ 205 levels "가평군","강남구",..: 26 38 172 12 171 9 190 86 132 103 ...
 $ 사고유형_대분류      : Factor w/ 3 levels "차대사람","차대차",..: 1 1 1 1 1 1 1 1 3 1 ...
 $ 사고유형_중분류      : Factor w/ 12 levels "공작물충돌","기타",..: 2 12 9 12 12 12 2 12 6 9 ...
 $ 사고유형             : Factor w/ 13 levels "공작물충돌","기타",..: 2 13 11 13 13 13 2 13 7 11 ...
 $ 법규위반_대분류      : Factor w/ 1 level "운전자법규위반": 1 1 1 1 1 1 1 1 1 1 ...
 $ 법규위반             : Factor w/ 14 levels "과속","교차로 통행방법 위반",..: 9 9 9 9 4 9 9 4 9 9 ...
 $ 도로형태_대분류      : Factor w/ 5 levels "고가도로위","교차로",..: 2 4 4 4 4 4 4 4 4 4 ...
 $ 도로형태             : Factor w/ 10 levels "고가도로위","교량위",..: 3 6 6 6 6 6 6 6 6 6 ...
 $ 당사자종별_1당_대분류: Factor w/ 10 levels "건설기계","농기계",..: 4 4 10 5 4 1 4 4 1 4 ...
 $ 당사자종별_1당       : Factor w/ 10 levels "건설기계","경형",..: 10 10 7 2 7 1 10 2 1 10 ...
 $ 당사자종별_2당_대분류: Factor w/ 12 levels "","건설기계",..: 4 4 4 4 4 4 4 4 1 4 ...
 $ 당사자종별_2당       : Factor w/ 12 levels "","건설기계",..: 6 6 6 6 6 6 6 6 1 6 ...
 $ 발생위치X_UTMK       : num  981731 945989 993981 1161153 1056276 ...
 $ 발생위치Y_UTMK       : num  1932086 1942347 1879534 1751026 1686645 ...
 $ 경도                 : num  127 127 127 129 128 ...
 $ 위도                 : num  37.4 37.5 36.9 35.7 35.2 ...

In [44]:
summary(car)

     발생년      발생년월일시           발생분        주야      요일
 Min.   :2016   Min.   :2.016e+09   Min.   : 0.00   야간:2072   금:666
 1st Qu.:2016   1st Qu.:2.016e+09   1st Qu.:10.00   주간:2047   목:596
 Median :2016   Median :2.016e+09   Median :27.00               수:565
 Mean   :2016   Mean   :2.016e+09   Mean   :26.94               월:584
 3rd Qu.:2016   3rd Qu.:2.016e+09   3rd Qu.:40.00               일:513
 Max.   :2016   Max.   :2.016e+09   Max.   :59.00               토:635
                                                                화:560
    사망자수         사상자수         중상자수         경상자수
 Min.   : 1.000   Min.   : 1.000   Min.   : 0.000   Min.   : 0.0000
 1st Qu.: 1.000   1st Qu.: 1.000   1st Qu.: 0.000   1st Qu.: 0.0000
 Median : 1.000   Median : 1.000   Median : 0.000   Median : 0.0000
 Mean   : 1.042   Mean   : 1.576   Mean   : 0.252   Mean   : 0.2595
 3rd Qu.: 1.000   3rd Qu.: 1.000   3rd Qu.: 0.000   3rd Qu.: 0.0000
 Max.   :10.000   Max.   :67.000   Max.   :22.000   Max.   :62.0000

  부상신고자수       발생지시도         발생지시군구  사고유형_대분류
 Min.   :0.00000   경기   : 749   서구        :  78   차대사람:1647
 1st Qu.:0.00000   경북   : 477   남구        :  76   차대차  :1646
 Median :0.00000   충남   : 372   창원시(통합):  75   차량단독: 826
 Mean   :0.02282   경남   : 359   청주시      :  74
 3rd Qu.:0.00000   서울   : 342   북구        :  69
 Max.   :5.00000   전남   : 327   동구        :  58
                   (Other):1493   (Other)     :3689
     사고유형_중분류         사고유형          법규위반_대분류
 횡단중      :1078   횡단중      :1078   운전자법규위반:4119
 기타        : 665   기타        : 665
 측면직각충돌: 619   측면직각충돌: 619
 전도전복    : 480   전도전복    : 480
 추돌        : 436   진행중 추돌 : 436
 정면충돌    : 323   정면충돌    : 323
 (Other)     : 518   (Other)     : 518
                 법규위반      도로형태_대분류       도로형태
 안전운전 의무 불이행:2856   고가도로위:  14   기타단일로:2427
 신호위반            : 333   교차로    :1285   교차로내  : 817
 중앙선 침범         : 314   기타/불명 : 103   교차로부근: 468
 과속                : 178   단일로    :2704   횡단보도상: 170
 보행자 보호의무 위반: 174   지하도로내:  13   기타/불명 : 103
 교차로 통행방법 위반:  68                     교량위    :  49
 (Other)             : 196                     (Other)   :  85
      당사자종별_1당_대분류          당사자종별_1당 당사자종별_2당_대분류
 승용차          :2023      소형            :1265   보행자 :1642
 화물차          : 914      중형            :1206          : 825
 이륜차          : 415      경형            : 660   승용차 : 548
 승합차          : 261      대형            : 478   화물차 : 408
 원동기장치자전거: 184      원동기장치자전거: 184   이륜차 : 210
 자전거          : 113      자전거          : 113   자전거 : 148
 (Other)         : 209      (Other)         : 213   (Other): 338
 당사자종별_2당 발생위치X_UTMK    발생위치Y_UTMK         경도
 보행자 :1642   Min.   :      0   Min.   :      0   Min.   :118.0
        : 825   1st Qu.: 946505   1st Qu.:1725992   1st Qu.:126.9
 소형   : 465   Median : 977012   Median :1823659   Median :127.2
 중형   : 385   Mean   :1007249   Mean   :1818670   Mean   :127.6
 대형   : 239   3rd Qu.:1080134   3rd Qu.:1930029   3rd Qu.:128.4
 경형   : 195   Max.   :1296967   Max.   :2053766   Max.   :130.9
 (Other): 368
      위도
 Min.   :19.69
 1st Qu.:35.52
 Median :36.41
 Mean   :36.36
 3rd Qu.:37.37
 Max.   :38.48

In [45]:
# 주야별 교통사고 건수
table(car$주야)

야간 주간
2072 2047

In [46]:
# 요일별 교통사고 건수
sort(table(car$요일))

 일  화  수  월  목  토  금
513 560 565 584 596 635 666

In [47]:
# 발생지시도 교통사고 건수
sort(table(car$발생지시도), decreasing=T)

경기 경북 충남 경남 서울 전남 전북 충북 강원 부산 대구 인천 대전 광주 제주 울산
 749  477  372  359  342  327  275  221  206  153  150  137   94   85   77   70
세종
  25

In [48]:
# 사고유형_대분류 교통사고 건수
sort(table(car$사고유형_대분류), decreasing=T)

차대사람   차대차 차량단독
    1647     1646      826

In [49]:
# 사고유형 교통사고 건수
sort(table(car$사고유형), decreasing=T)

              횡단중                 기타         측면직각충돌
                1078                  665                  619
            전도전복          진행중 추돌             정면충돌
                 480                  436                  323
          공작물충돌           차도통행중 길가장자리구역통행중
                 230                  146                   65
       도로이탈 추락           보도통행중        도로이탈 기타
                  30                   30                   16
    주/정차차량 충돌
                   1

In [50]:
# 법규위반 교통사고 건수
sort(table(car$법규위반), decreasing=T)

       안전운전 의무 불이행                    신호위반
                       2856                         333
                중앙선 침범                        과속
                        314                         178
       보행자 보호의무 위반        교차로 통행방법 위반
                        174                          68
            안전거리 미확보        기타(운전자법규위반)
                         68                          44
직진 및 우회전차의 통행방해                 부당한 회전
                         37                          28
    차로위반(진로변경 위반)           앞지르기 금지위반
                         12                           3
       서행 및 일시정지위반           앞지르기 방법위반
                          2                           2

In [ ]:
# 도로형태 교통사고 건수
sort(table(car$도로형태), decreasing=T)

In [ ]:
# 당사자종별_1당 교통사고 건수
sort(table(car$당사자종별_1당), decreasing=T)

## 교통사고 현황 데이터 기술통계 2 (분산화 경향)
+ 데이터가 주로 범주형으로 구성되어 있기 때문에 <br>
조건검색 후 데이터를 선별하지 않는 이상 적절한 분석은 의미없음