# 11 dplyr

## dplyr
+ select   : 열 선택
+ filter   : 조건 검색
+ group_by : 데이터 그룹화
+ mutate   : 행/열 추가
+ summrise : 데이터 집계
+ arrange  : 데이터 정렬

In [158]:
library(dplyr)
load('csv/sungjuk.rdata')

Attaching package: ‘dplyr’


The following object is masked from ‘package:ggplot2’:

    vars


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

## arrange (데이터 정렬)

In [159]:
# 이름순으로 오름차순 정렬
sungjuk %>% arrange(name)

  name eng mat sci
1 Jane 78  95  60
2 John 90  85  90
3 Mark 69  49  70
4 Tom  95  96  80

In [160]:
# 이름순으로 내림차순 정렬
sungjuk %>% arrange(desc(name))

  name eng mat sci
1 Tom  95  96  80
2 Mark 69  49  70
3 John 90  85  90
4 Jane 78  95  60

In [161]:
# 영어/수학/과학 점수를 내림차순 정렬
sungjuk %>% arrange(desc(eng, mat, sci))

  name eng mat sci
1 Tom  95  96  80
2 John 90  85  90
3 Jane 78  95  60
4 Mark 69  49  70

## summarise (데이터 집계)

In [162]:
# 평균 영어 점수 출력
sungjuk %>% summarise(평균영어점수 = mean(eng))

  평균영어점수
1 83

In [163]:
# 각 과목별로 평균/최고/최소 점수 출력
sungjuk %>% summarise(평균영어점수 = mean(eng), 평균수학점수 = mean(mat),
                      평균과학점수 = mean(sci),
                      최고영어점수 = max(eng), 최고수학점수 = max(mat),
                      최고과학점수 = max(sci),
                      최소영어점수 = min(eng), 최소수학점수 = min(mat),
                      최소과학점수 = min(sci))

  평균영어점수 평균수학점수 평균과학점수 최고영어점수 최고수학점수 최고과학점수
1 83           81.25        75           95           96           90
  최소영어점수 최소수학점수 최소과학점수
1 69           49           60

## group_by (데이터 그룹화)

In [164]:
# 새로운 컬럼 추가
sungjuk$class <- c(2,1,2,3)
sungjuk

  name eng mat sci class
1 John 90  85  90  2
2 Tom  95  96  80  1
3 Mark 69  49  70  2
4 Jane 78  95  60  3

In [165]:
# 클래스별 평균 영어점수 출력
sungjuk %>% group_by(class) %>% summarise(평균영어점수 = mean(eng))

  class 평균영어점수
1 1     95.0
2 2     79.5
3 3     78.0

In [166]:
# 클래스별 최고/최소 영어점수 출력
sungjuk %>% group_by(class) %>% 
            summarise(최고영어점수=max(eng), 최소영어점수=min(eng))

  class 최고영어점수 최소영어점수
1 1     95           95
2 2     90           69
3 3     78           78

In [167]:
# diamonds 데이터셋을 이용해서 다음 문제를
library(ggplot2)
?diamonds

diamonds                package:ggplot2                R Documentation

_P_r_i_c_e_s _o_f _o_v_e_r _5_0,_0_0_0 _r_o_u_n_d _c_u_t _d_i_a_m_o_n_d_s

_D_e_s_c_r_i_p_t_i_o_n:

     A dataset containing the prices and other attributes of almost
     54,000 diamonds. The variables are as follows:

_U_s_a_g_e:

     diamonds

_F_o_r_m_a_t:

     A data frame with 53940 rows and 10 variables:

     price price in US dollars (\$326-\$18,823)

     carat weight of the diamond (0.2-5.01)

     cut quality of the cut (Fair, Good, Very Good, Premium, Ideal)

     color diamond colour, from D (best) to J (worst)

     clarity a measurement of how clear the diamond is (I1 (worst),
          SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))

     x length in mm (0-10.74)

     y width in mm (0-58.9)

     z depth in mm (0-31.8)

     depth total depth percentage = z / mean(x, y) = 2 * z / (x + y)
          (43-79)

     table width of top of diamond relative to widest point (43-95)

In [168]:
head(diamonds)

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [169]:
summary(diamonds)

     carat               cut        color        clarity          depth
 Min.   :0.2000   Fair     : 1610   D: 6775   SI1    :13065   Min.   :43.00
 1st Qu.:0.4000   Good     : 4906   E: 9797   VS2    :12258   1st Qu.:61.00
 Median :0.7000   Very Good:12082   F: 9542   SI2    : 9194   Median :61.80
 Mean   :0.7979   Premium  :13791   G:11292   VS1    : 8171   Mean   :61.75
 3rd Qu.:1.0400   Ideal    :21551   H: 8304   VVS2   : 5066   3rd Qu.:62.50
 Max.   :5.0100                     I: 5422   VVS1   : 3655   Max.   :79.00
                                    J: 2808   (Other): 2531
     table           price             x                y
 Min.   :43.00   Min.   :  326   Min.   : 0.000   Min.   : 0.000
 1st Qu.:56.00   1st Qu.:  950   1st Qu.: 4.710   1st Qu.: 4.720
 Median :57.00   Median : 2401   Median : 5.700   Median : 5.710
 Mean   :57.46   Mean   : 3933   Mean   : 5.731   Mean   : 5.735
 3rd Qu.:59.00   3rd Qu.: 5324   3rd Qu.: 6.540   3rd Qu.: 6.540
 Max.   :95.00   Max.   :18823   Max.   :10.740   Max.   :58.900

       z
 Min.   : 0.000
 1st Qu.: 2.910
 Median : 3.530
 Mean   : 3.539
 3rd Qu.: 4.040
 Max.   :31.800

In [170]:
# carat과 price 변수 출력
head(diamonds[, c('carat', 'price')])

  carat price
1 0.23  326
2 0.21  326
3 0.23  327
4 0.29  334
5 0.31  335
6 0.24  336

In [171]:
head(diamonds[, c(1, 7)])

  carat price
1 0.23  326
2 0.21  326
3 0.23  327
4 0.29  334
5 0.31  335
6 0.24  336

In [172]:
diamonds %>% select(carat, price) %>% head()

  carat price
1 0.23  326
2 0.21  326
3 0.23  327
4 0.29  334
5 0.31  335
6 0.24  336

In [173]:
diamonds %>% select(1, 7) %>% head()

  carat price
1 0.23  326
2 0.21  326
3 0.23  327
4 0.29  334
5 0.31  335
6 0.24  336

In [174]:
head(select(diamonds, carat, price))

  carat price
1 0.23  326
2 0.21  326
3 0.23  327
4 0.29  334
5 0.31  335
6 0.24  336

In [175]:
head(select(diamonds, 1, 7))

  carat price
1 0.23  326
2 0.21  326
3 0.23  327
4 0.29  334
5 0.31  335
6 0.24  336

In [176]:
# 변수들 중 carat, price 제외하고 모두 출력
head(diamonds[, -c(1,7)])
diamonds %>% select(-c(carat, price)) %>% head()
head(select(diamonds, -carat, -price))
head(select(diamonds, -c(carat, price)))
head(select(diamonds, -c(1, 7)))

  cut       color clarity depth table x    y    z
1 Ideal     E     SI2     61.5  55    3.95 3.98 2.43
2 Premium   E     SI1     59.8  61    3.89 3.84 2.31
3 Good      E     VS1     56.9  65    4.05 4.07 2.31
4 Premium   I     VS2     62.4  58    4.20 4.23 2.63
5 Good      J     SI2     63.3  58    4.34 4.35 2.75
6 Very Good J     VVS2    62.8  57    3.94 3.96 2.48

  cut       color clarity depth table x    y    z
1 Ideal     E     SI2     61.5  55    3.95 3.98 2.43
2 Premium   E     SI1     59.8  61    3.89 3.84 2.31
3 Good      E     VS1     56.9  65    4.05 4.07 2.31
4 Premium   I     VS2     62.4  58    4.20 4.23 2.63
5 Good      J     SI2     63.3  58    4.34 4.35 2.75
6 Very Good J     VVS2    62.8  57    3.94 3.96 2.48

  cut       color clarity depth table x    y    z
1 Ideal     E     SI2     61.5  55    3.95 3.98 2.43
2 Premium   E     SI1     59.8  61    3.89 3.84 2.31
3 Good      E     VS1     56.9  65    4.05 4.07 2.31
4 Premium   I     VS2     62.4  58    4.20 4.23 2.63
5 Good      J     SI2     63.3  58    4.34 4.35 2.75
6 Very Good J     VVS2    62.8  57    3.94 3.96 2.48

  cut       color clarity depth table x    y    z
1 Ideal     E     SI2     61.5  55    3.95 3.98 2.43
2 Premium   E     SI1     59.8  61    3.89 3.84 2.31
3 Good      E     VS1     56.9  65    4.05 4.07 2.31
4 Premium   I     VS2     62.4  58    4.20 4.23 2.63
5 Good      J     SI2     63.3  58    4.34 4.35 2.75
6 Very Good J     VVS2    62.8  57    3.94 3.96 2.48

  cut       color clarity depth table x    y    z
1 Ideal     E     SI2     61.5  55    3.95 3.98 2.43
2 Premium   E     SI1     59.8  61    3.89 3.84 2.31
3 Good      E     VS1     56.9  65    4.05 4.07 2.31
4 Premium   I     VS2     62.4  58    4.20 4.23 2.63
5 Good      J     SI2     63.3  58    4.34 4.35 2.75
6 Very Good J     VVS2    62.8  57    3.94 3.96 2.48

In [177]:
# 변수명 중 c로 시작하는 것만 출력 : starts_with
diamonds %>% select(starts_with('c')) %>% head()
head(select(diamonds, starts_with('c')))

  carat cut       color clarity
1 0.23  Ideal     E     SI2
2 0.21  Premium   E     SI1
3 0.23  Good      E     VS1
4 0.29  Premium   I     VS2
5 0.31  Good      J     SI2
6 0.24  Very Good J     VVS2

  carat cut       color clarity
1 0.23  Ideal     E     SI2
2 0.21  Premium   E     SI1
3 0.23  Good      E     VS1
4 0.29  Premium   I     VS2
5 0.31  Good      J     SI2
6 0.24  Very Good J     VVS2

In [178]:
# 변수명 중 e로 끝나는 것만 출력 : ends_with
diamonds %>% select(ends_with('e')) %>% head()
head(select(diamonds, ends_with('e')))

  table price
1 55    326
2 61    326
3 65    327
4 58    334
5 58    335
6 57    336

  table price
1 55    326
2 61    326
3 65    327
4 58    334
5 58    335
6 57    336

In [179]:
# 변수명 중 l을 포함하는 것만 출력 : contains/matches
diamonds %>% select(contains('l')) %>% head()
head(select(diamonds, contains('l')))

  color clarity table
1 E     SI2     55
2 E     SI1     61
3 E     VS1     65
4 I     VS2     58
5 J     SI2     58
6 J     VVS2    57

  color clarity table
1 E     SI2     55
2 E     SI1     61
3 E     VS1     65
4 I     VS2     58
5 J     SI2     58
6 J     VVS2    57

In [180]:
# 변수명 중 r과 t를 포함한 것만 출력
diamonds %>% select(contains('r') & contains('t')) %>% head()
diamonds %>% select(contains('r.t')) %>% head()
diamonds %>% select(contains('r.+t')) %>% head()

  carat clarity
1 0.23  SI2
2 0.21  SI1
3 0.23  VS1
4 0.29  VS2
5 0.31  SI2
6 0.24  VVS2

1
2
3
4
5
6

1
2
3
4
5
6

In [181]:
# cut 변수 값 중 'Ideal'인 데이터 조회
head(diamonds[diamonds$cut == 'Ideal', ])
diamonds %>% filter(cut == 'Ideal') %>% head()
head(filter(diamonds, cut == 'Ideal'))

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
3 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71
4 0.30  Ideal I     SI2     62.0  54    348   4.31 4.34 2.68
5 0.33  Ideal I     SI2     61.8  55    403   4.49 4.51 2.78
6 0.33  Ideal I     SI2     61.2  56    403   4.49 4.50 2.75

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
3 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71
4 0.30  Ideal I     SI2     62.0  54    348   4.31 4.34 2.68
5 0.33  Ideal I     SI2     61.8  55    403   4.49 4.51 2.78
6 0.33  Ideal I     SI2     61.2  56    403   4.49 4.50 2.75

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
3 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71
4 0.30  Ideal I     SI2     62.0  54    348   4.31 4.34 2.68
5 0.33  Ideal I     SI2     61.8  55    403   4.49 4.51 2.78
6 0.33  Ideal I     SI2     61.2  56    403   4.49 4.50 2.75

In [182]:
# price가 1000 이상인 데이터 조회
head(diamonds[diamonds$price >= 1000, ])
diamonds %>% filter(price >= 1000) %>% head()
head(filter(diamonds, price >= 1000))

  carat cut       color clarity depth table price x    y    z
1 0.70  Ideal     E     SI1     62.5  57    2757  5.70 5.72 3.57
2 0.86  Fair      E     SI2     55.1  69    2757  6.45 6.33 3.52
3 0.70  Ideal     G     VS2     61.6  56    2757  5.70 5.67 3.50
4 0.71  Very Good E     VS2     62.4  57    2759  5.68 5.73 3.56
5 0.78  Very Good G     SI2     63.8  56    2759  5.81 5.85 3.72
6 0.70  Good      E     VS2     57.5  58    2759  5.85 5.90 3.38

  carat cut       color clarity depth table price x    y    z
1 0.70  Ideal     E     SI1     62.5  57    2757  5.70 5.72 3.57
2 0.86  Fair      E     SI2     55.1  69    2757  6.45 6.33 3.52
3 0.70  Ideal     G     VS2     61.6  56    2757  5.70 5.67 3.50
4 0.71  Very Good E     VS2     62.4  57    2759  5.68 5.73 3.56
5 0.78  Very Good G     SI2     63.8  56    2759  5.81 5.85 3.72
6 0.70  Good      E     VS2     57.5  58    2759  5.85 5.90 3.38

  carat cut       color clarity depth table price x    y    z
1 0.70  Ideal     E     SI1     62.5  57    2757  5.70 5.72 3.57
2 0.86  Fair      E     SI2     55.1  69    2757  6.45 6.33 3.52
3 0.70  Ideal     G     VS2     61.6  56    2757  5.70 5.67 3.50
4 0.71  Very Good E     VS2     62.4  57    2759  5.68 5.73 3.56
5 0.78  Very Good G     SI2     63.8  56    2759  5.81 5.85 3.72
6 0.70  Good      E     VS2     57.5  58    2759  5.85 5.90 3.38

In [183]:
# carat이 2이상, price 가 14000 이하인 데이터 조회
head(diamonds[diamonds$carat >= 2 & diamonds$price <= 14000, ])
diamonds %>% filter(carat >= 2 & price <= 14000) %>% head()
diamonds %>% filter(carat >= 2, price <= 14000) %>% head()
head(filter(diamonds, carat >= 2, price <= 14000))

  carat cut     color clarity depth table price x    y    z
1 2.00  Premium J     I1      61.5  59    5051  8.11 8.06 4.97
2 2.06  Premium J     I1      61.2  58    5203  8.10 8.07 4.95
3 2.14  Fair    J     I1      69.4  57    5405  7.74 7.70 5.36
4 2.15  Fair    J     I1      65.5  57    5430  8.01 7.95 5.23
5 2.22  Fair    J     I1      66.7  56    5607  8.04 8.02 5.36
6 2.00  Fair    I     I1      66.0  60    5667  7.78 7.74 5.10

  carat cut     color clarity depth table price x    y    z
1 2.00  Premium J     I1      61.5  59    5051  8.11 8.06 4.97
2 2.06  Premium J     I1      61.2  58    5203  8.10 8.07 4.95
3 2.14  Fair    J     I1      69.4  57    5405  7.74 7.70 5.36
4 2.15  Fair    J     I1      65.5  57    5430  8.01 7.95 5.23
5 2.22  Fair    J     I1      66.7  56    5607  8.04 8.02 5.36
6 2.00  Fair    I     I1      66.0  60    5667  7.78 7.74 5.10

  carat cut     color clarity depth table price x    y    z
1 2.00  Premium J     I1      61.5  59    5051  8.11 8.06 4.97
2 2.06  Premium J     I1      61.2  58    5203  8.10 8.07 4.95
3 2.14  Fair    J     I1      69.4  57    5405  7.74 7.70 5.36
4 2.15  Fair    J     I1      65.5  57    5430  8.01 7.95 5.23
5 2.22  Fair    J     I1      66.7  56    5607  8.04 8.02 5.36
6 2.00  Fair    I     I1      66.0  60    5667  7.78 7.74 5.10

  carat cut     color clarity depth table price x    y    z
1 2.00  Premium J     I1      61.5  59    5051  8.11 8.06 4.97
2 2.06  Premium J     I1      61.2  58    5203  8.10 8.07 4.95
3 2.14  Fair    J     I1      69.4  57    5405  7.74 7.70 5.36
4 2.15  Fair    J     I1      65.5  57    5430  8.01 7.95 5.23
5 2.22  Fair    J     I1      66.7  56    5607  8.04 8.02 5.36
6 2.00  Fair    I     I1      66.0  60    5667  7.78 7.74 5.10

In [184]:
# carat이 1초과, 5 미만인 데이터 조회
head(diamonds[diamonds$carat > 1 & diamonds$carat < 5, ])
diamonds %>% filter(carat > 1 & carat < 5) %>% head()
diamonds %>% filter(carat > 1, carat < 5) %>% head()

  carat cut       color clarity depth table price x    y    z
1 1.17  Very Good J     I1      60.2  61    2774  6.83 6.90 4.13
2 1.01  Premium   F     I1      61.8  60    2781  6.39 6.36 3.94
3 1.01  Fair      E     I1      64.5  58    2788  6.29 6.21 4.03
4 1.01  Premium   H     SI2     62.7  59    2788  6.31 6.22 3.93
5 1.05  Very Good J     SI2     63.2  56    2789  6.49 6.45 4.09
6 1.05  Fair      J     SI2     65.8  59    2789  6.41 6.27 4.18

  carat cut       color clarity depth table price x    y    z
1 1.17  Very Good J     I1      60.2  61    2774  6.83 6.90 4.13
2 1.01  Premium   F     I1      61.8  60    2781  6.39 6.36 3.94
3 1.01  Fair      E     I1      64.5  58    2788  6.29 6.21 4.03
4 1.01  Premium   H     SI2     62.7  59    2788  6.31 6.22 3.93
5 1.05  Very Good J     SI2     63.2  56    2789  6.49 6.45 4.09
6 1.05  Fair      J     SI2     65.8  59    2789  6.41 6.27 4.18

  carat cut       color clarity depth table price x    y    z
1 1.17  Very Good J     I1      60.2  61    2774  6.83 6.90 4.13
2 1.01  Premium   F     I1      61.8  60    2781  6.39 6.36 3.94
3 1.01  Fair      E     I1      64.5  58    2788  6.29 6.21 4.03
4 1.01  Premium   H     SI2     62.7  59    2788  6.31 6.22 3.93
5 1.05  Very Good J     SI2     63.2  56    2789  6.49 6.45 4.09
6 1.05  Fair      J     SI2     65.8  59    2789  6.41 6.27 4.18

In [185]:
# carat이 1미만이거나, 5초과인 데이터 조회
head(diamonds[diamonds$carat < 1 | diamonds$carat > 5, ])
diamonds %>% filter(carat < 1 | carat > 5) %>% head()

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [186]:
# cut이 'Ideal'이거나 'Good'인 데이터 조회
head(diamonds[diamonds$cut == 'Ideal' | diamonds$cut == 'Good', ])
head(diamonds[diamonds$cut %in% c('Ideal', 'Good'), ])
diamonds %>% filter(cut == 'Ideal' | cut == 'Good') %>% head()
diamonds %>% filter(cut %in% c('Ideal', 'Good')) %>% head()

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Good  E     VS1     56.9  65    327   4.05 4.07 2.31
3 0.31  Good  J     SI2     63.3  58    335   4.34 4.35 2.75
4 0.30  Good  J     SI1     64.0  55    339   4.25 4.28 2.73
5 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
6 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Good  E     VS1     56.9  65    327   4.05 4.07 2.31
3 0.31  Good  J     SI2     63.3  58    335   4.34 4.35 2.75
4 0.30  Good  J     SI1     64.0  55    339   4.25 4.28 2.73
5 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
6 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Good  E     VS1     56.9  65    327   4.05 4.07 2.31
3 0.31  Good  J     SI2     63.3  58    335   4.34 4.35 2.75
4 0.30  Good  J     SI1     64.0  55    339   4.25 4.28 2.73
5 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
6 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Good  E     VS1     56.9  65    327   4.05 4.07 2.31
3 0.31  Good  J     SI2     63.3  58    335   4.34 4.35 2.75
4 0.30  Good  J     SI1     64.0  55    339   4.25 4.28 2.73
5 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
6 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71

In [187]:
# price를 carat으로 나눈 것을 Ratio라는 컬럼으로,
# Ratio 컬럼을 제곱한것을 Double이라는 컬럼으로 생성
dia <- diamonds
dia$Ratio <- dia$price / dia$carat
dia$Double <- dia$Ratio ** 2
head(dia[, c('carat', 'price', 'Ratio', 'Double')])

  carat price Ratio    Double
1 0.23  326   1417.391 2008998
2 0.21  326   1552.381 2409887
3 0.23  327   1421.739 2021342
4 0.29  334   1151.724 1326468
5 0.31  335   1080.645 1167794
6 0.24  336   1400.000 1960000

In [188]:
dia <- diamonds
dia %>% mutate(Ratio = price / carat, Double = Ratio ** 2) %>%
        select(carat, price, Ratio, Double) %>% head()

  carat price Ratio    Double
1 0.23  326   1417.391 2008998
2 0.21  326   1552.381 2409887
3 0.23  327   1421.739 2021342
4 0.29  334   1151.724 1326468
5 0.31  335   1080.645 1167794
6 0.24  336   1400.000 1960000

In [189]:
# 평균 가격price와 price의 중앙값, 평균 carat을 집계
c1 <- mean(diamonds$price)
c2 <- median(diamonds$price)
c3 <- mean(diamonds$carat)

# 여러 컬럼을 하나로 묶음 : cbind, data.frame
df <- data.frame(c1, c2, c3)
colnames(df) = c('avgPrice','medPrice','avgCarat')
df

  avgPrice medPrice avgCarat
1 3932.8   2401     0.7979397

In [190]:
diamonds %>% summarise(avgPrice=mean(price),
                       medPrice=median(price),
                       avgCarat=mean(carat))

  avgPrice medPrice avgCarat
1 3932.8   2401     0.7979397

## 집계처리 : aggregate
+ aggregate(집계대상컬럼, by=그룹대상컬럼, 집계함수)
+ aggregate(인자식, 데이터, 집계함수)
+ 집계시 사용하는 인자식 예 : a ~ b + c
    - a : 집계하고자 하는 대상
    - b : 그룹으로 묶을 기준1
    - c : 그룹으로 묶을 기준2

In [191]:
# cut 기준으로 평균 price를 집계
aggregate(diamonds$price, by=list(diamonds$cut), FUN=mean)
aggregate(price ~ cut, diamonds, FUN=mean)
diamonds %>% group_by(cut) %>% summarise(avgPrice=mean(price))

  Group.1   x
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

  cut       price
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

  cut       avgPrice
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

In [192]:
# cut, color 기준으로 평균 가격을 avgPrice로, 총 carat을 sumCarat이라는 이름으로 집계
aggregate(price ~ cut + color, diamonds, FUN=mean)
aggregate(carat ~ cut + color, diamonds, FUN=sum)

   cut       color price
1  Fair      D     4291.061
2  Good      D     3405.382
3  Very Good D     3470.467
4  Premium   D     3631.293
5  Ideal     D     2629.095
6  Fair      E     3682.312
7  Good      E     3423.644
8  Very Good E     3214.652
9  Premium   E     3538.914
10 Ideal     E     2597.550
11 Fair      F     3827.003
12 Good      F     3495.750
13 Very Good F     3778.820
14 Premium   F     4324.890
15 Ideal     F     3374.939
16 Fair      G     4239.255
17 Good      G     4123.482
18 Very Good G     3872.754
19 Premium   G     4500.742
20 Ideal     G     3720.706
21 Fair      H     5135.683
22 Good      H     4276.255
23 Very Good H     4535.390
24 Premium   H     5216.707
25 Ideal     H     3889.335
26 Fair      I     4685.446
27 Good      I     5078.533
28 Very Good I     5255.880
29 Premium   I     5946.181
30 Ideal     I     4451.970
31 Fair      J     4975.655
32 Good      J     4574.173
33 Very Good J     5103.513
34 Premium   J     6294.592
35 Ideal     J     4918.186

   cut       color carat
1  Fair      D      149.98
2  Good      D      492.87
3  Very Good D     1053.69
4  Premium   D     1156.64
5  Ideal     D     1603.38
6  Fair      E      191.88
7  Good      E      695.21
8  Very Good E     1623.16
9  Premium   E     1677.37
10 Ideal     E     2257.50
11 Fair      F      282.27
12 Good      F      705.32
13 Very Good F     1603.44
14 Premium   F     1927.82
15 Ideal     F     2509.20
16 Fair      G      321.48
17 Good      G      741.13
18 Very Good G     1762.87
19 Premium   G     2460.51
20 Ideal     G     3422.29
21 Fair      H      369.41
22 Good      H      642.14
23 Very Good H     1670.69
24 Premium   H     2398.82
25 Ideal     H     2490.52
26 Fair      I      209.66
27 Good      I      551.87
28 Very Good I     1260.53
29 Premium   I     1634.97
30 Ideal     I     1910.97
31 Fair      J      159.60
32 Good      J      337.56
33 Very Good J      768.32
34 Premium   J     1044.82
35 Ideal     J      952.98

In [204]:
# aggregate 함수에 집계함수를 2개 이상 쓸려면 plyr 패키지의 each 함수를 사용해야 함
# 단, 하나의 집계대상 컬럼에만 적용가능
# 터미널에서 install.packages('plyr') 먼저 설치
library(plyr)

In [205]:
aggregate(price ~ cut + color, diamonds, each(mean, sum))

   cut       color price
1  Fair      D     4291.061,   699443
2  Good      D     3405.382,  2254363
3  Very Good D     3470.467,  5250817
4  Premium   D     3631.293,  5820962
5  Ideal     D     2629.095,  7450854
6  Fair      E     3682.312,   824838
7  Good      E     3423.644,  3194260
8  Very Good E     3214.652,  7715165
9  Premium   E     3538.914,  8270443
10 Ideal     E     2597.550, 10138238
11 Fair      F     3827.003,  1194025
12 Good      F     3495.750,  3177637
13 Very Good F     3778.820,  8177367
14 Premium   F     4324.890, 10081319
15 Ideal     F     3374.939, 12912518
16 Fair      G     4239.255,  1331126
17 Good      G     4123.482,  3591553
18 Very Good G     3872.754,  8903461
19 Premium   G     4500.742, 13160170
20 Ideal     G     3720.706, 18171930
21 Fair      H     5135.683,  1556112
22 Good      H     4276.255,  3001931
23 Very Good H     4535.390,  8272552
24 Premium   H     5216.707, 12311428
25 Ideal     H     3889.335, 12115278
26 Fair      I     4685.446,   819953
27 Good      I     5078.533,  2650994
28 Very Good I     5255.880,  6328079
29 Premium   I     5946.181,  8491146
30 Ideal     I     4451.970,  9317974
31 Fair      J     4975.655,   592103
32 Good      J     4574.173,  1404271
33 Very Good J     5103.513,  3460182
34 Premium   J     6294.592,  5086030
35 Ideal     J     4918.186,  4406695

In [206]:
# plyr 패키지를 메모리에서 제거
detach('package:plyr', unload=T)

In [207]:
library(magrittr)

In [216]:
diamonds %>% group_by(cut, color) %>%
             summarise(avgPrice=mean(price), sumCarat=sum(carat))

`summarise()` has grouped output by 'cut'. You can override using the `.groups` argument.

   cut       color avgPrice sumCarat
1  Fair      D     4291.061  149.98
2  Fair      E     3682.312  191.88
3  Fair      F     3827.003  282.27
4  Fair      G     4239.255  321.48
5  Fair      H     5135.683  369.41
6  Fair      I     4685.446  209.66
7  Fair      J     4975.655  159.60
8  Good      D     3405.382  492.87
9  Good      E     3423.644  695.21
10 Good      F     3495.750  705.32
11 Good      G     4123.482  741.13
12 Good      H     4276.255  642.14
13 Good      I     5078.533  551.87
14 Good      J     4574.173  337.56
15 Very Good D     3470.467 1053.69
16 Very Good E     3214.652 1623.16
17 Very Good F     3778.820 1603.44
18 Very Good G     3872.754 1762.87
19 Very Good H     4535.390 1670.69
20 Very Good I     5255.880 1260.53
21 Very Good J     5103.513  768.32
22 Premium   D     3631.293 1156.64
23 Premium   E     3538.914 1677.37
24 Premium   F     4324.890 1927.82
25 Premium   G     4500.742 2460.51
26 Premium   H     5216.707 2398.82
27 Premium   I     5946.181 1634.97
28 Premium   J     6294.592 1044.82
29 Ideal     D     2629.095 1603.38
30 Ideal     E     2597.550 2257.50
31 Ideal     F     3374.939 2509.20
32 Ideal     G     3720.706 3422.29
33 Ideal     H     3889.335 2490.52
34 Ideal     I     4451.970 1910.97
35 Ideal     J     4918.186  952.98

In [209]:
# color 기준으로 평균 가격을 avgPrice로, 총 carat을 sumCarat이라는 이름으로 집계하고 
# 평균가격으로 내림차순 정렬
dia <- diamonds
avgPrice <- aggregate(price~color,dia,FUN=mean)
sumCarat <- aggregate(carat~color,dia,FUN=sum)
df <- data.frame(avgPrice, sumCarat)
colnames(df) <- c('color','avgPrice','sumCarat')
df

df[order(-df$avgPrice), ]   # 정렬 출력

  color avgPrice sumCarat <NA>
1 D     3169.954 D        4456.56
2 E     3076.752 E        6445.12
3 F     3724.886 F        7028.05
4 G     3999.136 G        8708.28
5 H     4486.669 H        7571.58
6 I     5091.875 I        5568.00
7 J     5323.818 J        3263.28

  color avgPrice sumCarat <NA>
7 J     5323.818 J        3263.28
6 I     5091.875 I        5568.00
5 H     4486.669 H        7571.58
4 G     3999.136 G        8708.28
3 F     3724.886 F        7028.05
1 D     3169.954 D        4456.56
2 E     3076.752 E        6445.12

In [210]:
diamonds %>% group_by(color) %>%
             summarise(avgPrice=mean(price), sumCarat=sum(carat)) %>%
             arrange(desc(avgPrice))

  color avgPrice sumCarat
1 J     5323.818 3263.28
2 I     5091.875 5568.00
3 H     4486.669 7571.58
4 G     3999.136 8708.28
5 F     3724.886 7028.05
6 D     3169.954 4456.56
7 E     3076.752 6445.12

In [211]:
# color 기준으로 평균 가격을 avgPrice로, 총 carat을 sumCarat이라는 이름으로 집계하고 
# 평균가격은 내림차순 정렬, 총 carat은 오름차순으로 정렬
dia <- diamonds
avgPrice <- aggregate(price~color,dia,FUN=mean)
sumCarat <- aggregate(carat~color,dia,FUN=sum)
df <- data.frame(avgPrice, sumCarat)
colnames(df) <- c('color','avgPrice','sumCarat')
df

df[order(-df$avgPrice, df$sumCarat), ]   # 정렬 출력

  color avgPrice sumCarat <NA>
1 D     3169.954 D        4456.56
2 E     3076.752 E        6445.12
3 F     3724.886 F        7028.05
4 G     3999.136 G        8708.28
5 H     4486.669 H        7571.58
6 I     5091.875 I        5568.00
7 J     5323.818 J        3263.28

  color avgPrice sumCarat <NA>
7 J     5323.818 J        3263.28
6 I     5091.875 I        5568.00
5 H     4486.669 H        7571.58
4 G     3999.136 G        8708.28
3 F     3724.886 F        7028.05
1 D     3169.954 D        4456.56
2 E     3076.752 E        6445.12

In [212]:
diamonds %>% group_by(color) %>%
             summarise(avgPrice=mean(price), sumCarat=sum(carat)) %>%
             arrange(desc(avgPrice), sumCarat)

  color avgPrice sumCarat
1 J     5323.818 3263.28
2 I     5091.875 5568.00
3 H     4486.669 7571.58
4 G     3999.136 8708.28
5 F     3724.886 7028.05
6 D     3169.954 4456.56
7 E     3076.752 6445.12